{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>Find information about our favourite restaurants</h1>
       <p>This guide lists our favourite restaurants and comments on what we think about each one.</p>
       <p> You are able to search for contact details and information on each of our favourite restaurants.</p>
     <h1>Favourite restaurants by Location</h1>
       <p>The guide lists favourite restaurants by location to make it possible to select from restaurants
           in the area.</p>
       <p>This should make it easier to search for contact details and information to book at local restaurants.</p>
     <h1>Favourite Dishes and Drinks</h1>
       <p>For each restaurant it is possible to list a favourite dish and the wine or other drink we have chosen
           to have with it.</p>
     <h1>Ratings Guide</h1>
       <p>The guide rates each restaurant overall with the highest rating at the top of the list.</p>
       <p>This makes it easier to choose a restaurant to suit a particular occasion based on the rating
           and comments provided.</p>
     <h1>Add new restaurants and favourite dishes and drinks to the guide.</h1>
       <p>Add new restaurants to the guide by clicking on "ADD RESTAURANTS" and provide a comment and rating
           as to what you think of the restaurant.</p>
       <p>Add your favourite choice of dishes and drinks served at the restaurant by clicking on "ADD DISHES".
           This will remind you of what you like at that particular establishment or to enable you to try different
           dishes to expand your choice.</p>
   </div>
 {% endblock %}